@import "tailwindcss";

@theme {
  --color-puma-bright: #3b82f6; 
  --color-puma-cyan: #06b6d4;   
  --color-puma-dark: #041B4D;   
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
body {
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 20px;

}
::-webkit-scrollbar-thumb:hover {
  background: #f1f5f9;
}